.chat
	header
	include _frame
	.chat-container
		.chat-body
			.chat-messages
	.chat-input
		.input-group
			input#js_message_animate.form-control.input-lg(type="text",maxlength=300)
			span.input-group-btn
				button#js_animate.btn.btn-default.btn-lg Animate