doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='csrf-token', content=csrfToken)
		title Talking Avatar Chatbot - Alize
		if env == "development"
			link(rel="stylesheet",href="/css/bootstrap.css")
			link(rel="stylesheet",href="/css/prelodr.min.css")
			link(rel="stylesheet",href="/css/style.css")
		else
			link(rel="stylesheet",href="/dist/css/"+pugFunctions.assetPath("stylesheet.css"))
		if env == "development"
			script(src="/js/jquery.min.js")
		else
			script(src="/dist/js/"+pugFunctions.assetPath("bundle.js"))
	body
		.wrapper
			.bot-container
				include _avatar
				include _chat_animate
		if env == "development"
			script(src="/js/bootstrap.min.js")
			script(src="/js/VideoFrame.js")
			script(src="/js/soundmanager.js")
			script(src="/js/prelodr.min.js")
			script(src="/js/annyang.min.js")
			script(src="/js/siriwave.js")
			script(src="/js/script.js")
