doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='csrf-token', content=csrfToken)
		title Talking Virtual Avatar Chatbot - Alize
		if env == "development"
			link(rel="stylesheet",href="/css/bootstrap.css")
			link(rel="stylesheet",href="/css/prelodr.min.css")
			link(rel="stylesheet",href="/css/style.css")
		else
			link(rel="stylesheet",href="/dist/css/"+pugFunctions.assetPath("stylesheet.css"))
		if env == "development"
			script(src="/js/jquery.min.js")
		else
			script(src="/dist/js/"+pugFunctions.assetPath("bundle.js"))
	body
		.fb-root
		script.
			window.fbAsyncInit = function() {
			    FB.init({
			      appId      : #{config.facebook}, // App ID
			      status     : true, // check login status
			      cookie     : true, // enable cookies to allow the server to access the session
			      xfbml      : true,  // parse XFBML
			      version: 'v2.9'
			    });
			    $('.fb-root').trigger('facebook:init');

			    // Additional initialization code here
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/es_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		.wrapper
			.bot-container
				include _avatar
				include _chat
		if env == "development"
			script(src="/js/bootstrap.min.js")
			script(src="/js/VideoFrame.js")
			script(src="/js/soundmanager.js")
			script(src="/js/prelodr.min.js")
			script(src="/js/annyang.min.js")
			script(src="/js/siriwave.js")
			script(src="/js/script.js")
	.user-action-overlay
		button(type="button")#js_start.btn.btn-success.btn-lg Start